* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    background: transparent;
    font: inherit;
    font-weight: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}
