//color palette:
// #070707 (p5black)
// #aa0004 (p5crimson)
// #ee0000 (p5red)
// #717370 (p5grey)
// #512e59 (p5royalPurple)
// #51210e (p5royalBrown)
// #eeff00 (p5royalYellow)

// div {
//     display: block;
// }

header {
    background-color: #19081d;
    display: flex;
    height: 5rem;
    .header-container {
        display: flex;
        width: 71%;
        max-width: 999px;
        align-items: center;
        padding: 1.333rem 1rem;
        margin: 0 auto;
        justify-content: space-around;
        .link-logo {
            flex: 1 auto;
            font-size: 1.5rem;
            font-weight: 700;
            color: #efefef;
            margin: 1rem 0rem;
        }
        nav {
            display: flex;
            flex: 1 auto;
            justify-content: flex-end;
            align-items: center;
            color: #efefef;
            .link-normal {
                margin-left: 1.333rem;
            }
            .link-signup {
                padding: 0.667rem 1.333rem;
                margin-left: 1.333rem;
                border: 2px solid #efefef;
                border-radius: 3px;
                border-collapse: separate;
                background-color: #efefef;
                color: #19081d;
            }
            .link-signup:hover {
                background-color: #19081d;
                border-radius: 3px;
                border: 2px solid #efefef;
                color: #efefef;
                transition-duration: 0.1s;
                transition-timing-function: linear;
            }
        }
    }
}
