//color palette:
// #070707 (p5black)
// #aa0004 (p5crimson)
// #ee0000 (p5red)
// #717370 (p5grey)
// #512e59 (p5royalPurple)
// #51210e (p5royalBrown)
// #eeff00 (p5royalYellow)

// div {
//     display: block;
// }

header {
    background-color: #19081d;
    > div,
    > nav {
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;
    }

    .header-container {
        max-width: 999px;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.333rem;
    }

    .nav-right {
        display: inline-block;
        color: #efefef;
        margin-left: 1.333rem;
    }

    .link-logo {
        font-size: 1.5rem;
        font-weight: 700;
        color: #efefef;
        // text-shadow: 2px 2px 0 #efefef;
    }

    .link-normal {
        margin-left: 1.333rem;
    }

    .link-signup {
        // box-sizing: content-box;
        padding: 0.667rem 1.333rem;
        margin-left: 1.333rem;
        border: 2px solid #efefef;
        border-radius: 3px;
        border-collapse: separate;
        background-color: #efefef;
        color: #19081d;
    }

    .link-signup:hover {
        background-color: #19081d;
        // box-sizing: content-box;
        border-radius: 3px;
        border: 2px solid #efefef;
        color: #efefef;
        transition-duration: 0.1s;
        transition-timing-function: linear;
    }
}
