div {
    display: block;
}

footer {
    background-color: #19081d;
    color: #efefef;
    .footer-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 999px;
        padding: 1rem 1.333rem;
        .footer-links {
            width: 31%;
            div {
                a {
                }
                button {
                }
            }
        }
        .footer-content {
            width: 69%;
        }
    }
}
